	#table_info{
		display: inline-block;
		width:200px;
		height:200px;
		align:right;
	}
	#testModal{
		display:inline-block;
		text-align: left;
	}
	#btnClose{
		float:right;
	}
	.modal-title{
		margin:10px;
		padding:10px;
	}
	.modal-body{
		color:red;
	}