.container{
	margin-top:200px;
	border : 1px black;
}

#subContainer{
	margin-top:50px;
}



#info{
	margin-top:50px;
}

#long{
	width:400px;	
}

#box{
	margin-top:50px;
	margin:auto;
	width:600px;
}

#container{
	margin:0 auto;
}

#btn{
	margin-top:120px;
}