<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="dm">
 	<insert id="insertDM" parameterType="DMVO">
 		insert into dm(dm_no,from_id,to_id,dm_content,dm_date) 
 		values(seq_dm.nextval,#{from_id},#{to_id},#{dm_content},SYSDATE)
 	</insert>
 	
 	
 	<select id="findAll" resultType="DMVO">
 		select * from dm order by DM_DATE
 	</select>
 	
 	
 	<select id="findAll2" resultType="DMVO">
 		select * from dm order by DM_DATE
 	</select>
 
 	
 	<select id="getDM" parameterType="int" resultType="DMVo">
  		select * from dm where dm_no=#{dm_no}
  	</select>
 </mapper>