<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
	<select id="totalRecord" resultType="int">
		select count(*) from follow
		where follower_id = #{users_id}
	</select>
	
	<select id="totalFRecord" resultType="int">
		select count(*) from lookbook where users_no=#{users_no}
	</select>

  	<select id="listFollow" resultType="usersVO">
		select users_id,users_nickname,users_fname,users_no from(select rownum n,users_id,users_nickname,users_fname,users_no from(
		select users_id,users_nickname,users_fname,users_no from users 
		where users_id in (select following_id from follow where follower_id = #{users_id})))
		where n between #{start} and #{end}
	</select>
	
	<select id="listFLook" resultType="lookbookVO">
		select lookbook_fname,lookbook_write from(select rownum n,lookbook_fname,lookbook_write from
		(select lookbook_fname,lookbook_write from lookbook l,users u
		where l.users_no=u.users_no
		and u.users_no=#{users_no}))
		where n between #{start} and #{end}
	</select>
	
	<!-- 팔로우 여부 조회 -->
	<select id="isFollow" resultType="int">
		select count(*) from follow 
		where follower_id=#{follower_id} and following_id=#{following_id}
	</select>
	
	<!-- 팔로우 -->
	<insert id="insertFollow" parameterType="followVO">
		insert into follow (follow_no, follower_id,following_id) values 
		(#{follow_no}, #{follower_id},#{following_id})
	</insert>
	
	<!-- 언팔로우 -->
	<delete id="deleteFollow">
		delete follow where follower_id=#{follower_id} and following_id=#{following_id}
	</delete>
	
	<!--  팔로우번호 -->
	<select id="getNext_follow_no" resultType="int">
	 	select nvl(max(follow_no),0)+1 from follow
	</select>
</mapper>