<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lookbook">
   <!-- 스타일 필터를 통한 조회 -->
    <select id="findAll" resultType="lookbookVO">
       select * from lookbook
      <if test="arr_Style != null">
       where lookbook_no 
         in (select distinct l.lookbook_no no from lookbook l, lookbook_style s where l.lookbook_no = s.lookbook_no 
          and s.style_no in 
         <foreach item="item" collection="arr_Style" open="(" separator="," close=")">
                ${item}
          </foreach>
          )
       </if>   
    </select>
    
   <!-- 몸무게 필터를 통한 조회 -->
   <select id="findRange" resultType="lookbookVO">
      select * from lookbook 
   </select>
   
   <!-- 룩북 하나 클릭시 -->
   <select id="getLookbook" resultType="lookbookVO">
      select * from lookbook where lookbook_no=#{lookbook_no}
   </select>
   <!-- 룩북 추가시 -->
   <insert id="insert" parameterType="lookbookVO">
      insert into lookbook( LOOKBOOK_NO, USERS_NO, LOOKBOOK_WRITE, LOOKBOOK_DATE, 
      LOOKBOOK_VIEWS, LOOKBOOK_SHOW, LOOKBOOK_HEIGHT, LOOKBOOK_WEIGHT, LOOKBOOK_FNAME)
   
      values(#{lookbook_no}, #{users_no}, #{lookbook_write}, sysdate, 0, 0, 
      #{lookbook_height}, #{lookbook_weight}, #{lookbook_fname})
   </insert>
	
	<!-- 보민 -->
	<select id="totalMyLook" resultType="int">
		select count(*) from lookbook where users_no=#{users_no}
	</select>
	
	<select id="listMyLook" resultType="lookbookVO">
		select lookbook_fname from 
		(select rownum n,lookbook_fname from
		(select l.lookbook_fname from lookbook l, users u where l.users_no=u.users_no and u.users_no=#{users_no}))
		where n between #{start} and #{end}
	</select>
	
	
</mapper>