<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lookbook">
	<!-- 스타일 필터를 통한 조회 <select id="findAll" resultType="lookbookVO"> select 
		* from lookbook <if test="arr_Style != null"> where lookbook_no in (select 
		distinct l.lookbook_no no from lookbook l, lookbook_style s where l.lookbook_no 
		= s.lookbook_no and s.style_no in <foreach item="item" collection="arr_Style" 
		open="(" separator="," close=")"> ${item} </foreach> ) </if> </select> -->
	<!-- 스타일 필터를 통한 조회 -->
	<!--  -->
	
	
	
	<!-- 스타일 필터를 통한 조회 -->
	<select id="findAllFilter" resultType="lookbookVO">
		select * from lookbook
		<if test="arr_Style != null">
			where lookbook_no
			in (select distinct l.lookbook_no no from lookbook l, lookbook_style s
			where l.lookbook_no = s.lookbook_no
			and s.style_no in
			<foreach item="item" collection="arr_Style" open="("
				separator="," close=")">
				${item}
			</foreach>
			)
			<if test="rw!=null">
				and (lookbook_weight between #{weight_low} and #{weight_high} and
				lookbook_height between #{height_low} and #{height_high})
			</if>
		</if>
		<if test="rw!=null and arr_Style==null">
			where (lookbook_weight between #{weight_low} and #{weight_high} and
			lookbook_height between #{height_low} and #{height_high})
		</if>
		<choose>
			<when test="sortField!=null or sortField.equals('NEW') ">
				order by lookbook_date desc
			</when>
			<otherwise>
				order by lookbook_views desc				
			</otherwise>
		</choose>
	</select>

	<!-- 
	<select id="findRange" resultType="lookbookVO">
		select * from lookbook where lookbook_weight between #{weight_low} and
		#{weight_high} and lookbook_height between #{height_low} and
		#{height_high}
	</select>
몸무게 필터를 통한 조회 -->
	<!-- 룩북 하나 클릭시 -->
	<select id="getLookbook" resultType="lookbookVO">
		select * from lookbook where lookbook_no=#{lookbook_no}
	</select>
	<!-- 룩북 추가시 -->
	<insert id="insert" parameterType="lookbookVO">
		insert into lookbook( LOOKBOOK_NO, USERS_NO, LOOKBOOK_WRITE, LOOKBOOK_DATE,
		LOOKBOOK_VIEWS, LOOKBOOK_SHOW, LOOKBOOK_HEIGHT, LOOKBOOK_WEIGHT,
		LOOKBOOK_FNAME)

		values(#{lookbook_no}, #{users_no}, #{lookbook_write}, sysdate, 0, 0,
		#{lookbook_height}, #{lookbook_weight}, #{lookbook_fname})
	</insert>



</mapper>