<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lookbook_styleVO">
	
	<!-- 룩북 추가시 추가하는 스타일-->
	<insert id="insert" parameterType="lookbook_styleVO">
		insert into lookbook_style( LOOKBOOK_NO,
		values(seq_lookbook.nextval, #{users_no}, #{lookbook_write}, sysdate, 0, 0, 
		#{lookbook_height}, #{lookbook_weight}, #{lookbook_fname})
	</insert>
</mapper>