<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lookbook_style">
	
	<!-- 룩북 추가시 추가하는 스타일 
	<insert id="insert" parameterType="java.util.List">
		insert into lookbook_style(lookbook_no, style_no) values	
		<foreach item="item" collection="list" separator=",">
		(#{lookbook_no},#{item.style_no})
		</foreach>
	</insert>
	-->
	<insert id="insert" parameterType="lookbook_styleVO">
		insert into lookbook_style(lookbook_no, style_no) values	
		(#{lookbook_no},#{style_no})
	</insert>
	
	<delete id="delete">
	 	delete lookbook_style where lookbook_no=#{lookbook_no}
	</delete>

	<select id="getLookStyle" resultType="lookbook_styleVO">
		select * from lookbook_style where lookbook_no=#{lookbook_no}
		order by style_no asc
	</select>
	

	<!-- 
	<insert id="insert" parameterType="java.util.List">
		<foreach item="item" collection="list" open="INSERT ALL" separator=" ">
		insert into lookbook_style(lookbook_no, style_no) values	
		((select max(lookbook_no) from lookbook)+1,#{item.style_no})
		</foreach>
	</insert>
	 -->
</mapper>